.dropdown.dropdown-lg {
  position: unset !important;
  .dropdown-menu {
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;

    ul {
      li {
        a {
          color: #6c757d; // Default muted color

          &.active-child {
            color: $secondary !important; // Active link color is blue
          }

          &:hover {
            color: $secondary !important; // Optional hover color (darker shade of blue)
          }
        }
      }
    }
  }
}
.dropdown-berita .nav-link.active {
  color: $primary !important;
  font-weight: bold;
}

.hero-menu .nav-link-hero.active{
  border-bottom: 3px solid $primary !important;
  background-color: white !important;
  color: $primary !important;
  border-radius: 0%;
}

.hero-menu .nav-link-hero{
  // border-bottom: 3px solid grey !important;
  color:  grey !important;
  border-radius: 0%;
  padding-left: 0;
  text-decoration: none;
}

.hero-menu .nav-link-hero {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

/* Hilangkan scrollbar/panah di Webkit (Chrome, Edge, Safari) */
.hero-menu .nav-link-hero::-webkit-scrollbar {
  display: none !important;
}
