.content-fasilitas{
    margin-top: -100px;

    .carousel-container {
        position: relative;
        width: 80%;
        max-width: 800px;
        overflow: hidden;
    }

    .carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .carousel-transportasi {
        flex: 0 0 50%; /* Set setiap card mengambil 50% dari container */
        text-align: center;
        padding: 20px;
        font-size: 24px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgb(21, 79, 71);
    }

    .carousel-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(255, 229, 190, 0.5);
        color: var(--bs-primary);
        border: none;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
        border-radius: 50%;
        z-index: 1;
    }

    .carousel-btn.prev {
        left: 0px;
    }

    .carousel-btn.next {
    right: 0px;
    }

    .carousel-btn:hover {
    background-color:  var(--bs-primary);
    color: white;
    }
    .card {
            border: none;
            border-radius: 15px;
            overflow: hidden;
            transition: transform 0.3s, box-shadow 0.3s;
        }
        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 15px 30px rgb(21, 79, 71);
        }
        .card img {
            height: 200px;
            object-fit: cover;
        }
        .card-body {
            background: #f8f9fa;
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 1.5rem; /* antar kolom */
        }
@media(max-width:576px){
    .card-hero-fasilitas{
        margin-top: 180px;
    }
    .content-fasilitas{
        margin-top: -240px;
    }
  
}
}
