// Body
// $primary: #43165E;
$primary: #154F5B;
// $primary : #3C8EC6;
$secondary: #071238;
//$secondary: #C5E7FF;
// $warning: #faae2b;
$warning: #E58C3A;
// $warning: #e9762b;
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: .9rem;
$line-height-base: 1.6;

// Footer
$footer-image: '/assets/images/gn.jpg';

